body {
background-color: #504E52;
}

.topnav {
overflow: hidden;
}

.topnav a {
text-decoration: none;
font-weight: bold;
font-size: 18px;
color: white;
font-family: 'Open Sans Condensed', sans-serif;
}

.persef img {
float: right;
margin-top: 0;
width: 50%;
border-radius: 15%;
max-width: 474px;
color: #D3C8D6;
opacity: .5;
}

nav ul{
padding: 0;
list-style: none;
}


.logo {
height: 140px;
width: 80px;
float: left;
margin: 0;
padding: 0;
}

nav li {
float: right;
margin-left: 40px;
padding-top: 25px;
padding-right: 45px;
}

.hero {
display: flex;
justify-content: space-between;
flex-direction: column;
padding: 24px;
margin: 24px;

}

#name {
font-family: 'Open Sans', sans-serif;
font-weight: lighter;
color: white;
size: 36px;
padding: 0;
margin: 0;
}

h3 {
font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
font-weight: bold;
color: white;
padding: 0;
margin: 0;
}

p {
font-family: 'EB Garamond', serif;
font-weight: 400;
color: white;
letter-spacing: .7px;
flex-wrap: wrap;
width: 40%;
size: 18px;
padding-top: 48px;
}

h2 {
font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
font-weight: bold;
size: 36px;
color: white;
text-align: center;
}

.work {
margin-top: 140px;
padding: 24px;
height: 100%;
width: 100%;
}


h4 {
font-family: 'Open Sans', sans-serif;
font-weight: bold;
size: 24px;
color: white;
padding: 0;
margin: 0;
}

.Pointer {
display: flex;
width: 100%;
flex-direction: column;
}

.Pointer, p {
padding: 0;
margin: 0;
}

/* .Pointer:hover {
background-color: lavender;
width: 100%;
} */

.Watchify {
display: flex;
width: 100%;
flex-direction: column;
}

.Watchify, p {
padding: 0;
margin: 0;
}

.UCB {
display: flex;
width: 100%;
flex-direction: column;
}

.UCB, p {
padding: 0;
margin: 0;
}

#intro {
margin-top: 36px;
}

.connect {
display: block;
}

form {
width: 60%;
float: right;
padding: 48px;
display: flex;
flex-direction: column;
}

#nameinput {
border: none;
appearance: none;
background: #c4c4c4;
padding: 12px;
width: 50%;
margin: 0px;
outline: none;
}

#message {
border: none;
appearance: none;
background: #c4c4c4;
padding: 12px;
width: 50%;
margin: 0px;
height: 160px;
outline: none;
}

label {
font-family: 'Open Sans', sans-serif;
font-weight: 600;
color: #fff;
padding-bottom: 12px;
}

.sociallinks {
float: left;
display: flex;
flex-direction: column;
width: 26%;
padding: 12px;
margin-left: 30px;
align-content: center;
justify-content: center;
}

footer {
text-decoration: none;
font-weight: bold;
font-size: 18px;
width: 100%;
background-color: #97949b;
color: white;
font-family: 'Open Sans Condensed', sans-serif;
display: inline-flex;
justify-content: space-evenly;
}

.footer-icons {
display: flex;
flex-direction: column;
align-content: space-between;
}

.emailicon, .LIicon, .IGicon {
margin: 12px;
justify-content: center;
}

.footernav {
display: flex;
flex-direction: row;
}

li, .footernav {
padding: 24px;
}

.copyright {
display: flex;
justify-content: flex-end;
align-content: center;
}

button {
padding: 12px;
margin: 36px 0;
background-color: #d3c8d6;
border: none;
border-radius: 20px;
font-family: 'Open Sans', sans-serif;
letter-spacing: -.5px;
}

.flexContainer {
display: flex;
justify-content: center;
}

.flexContainer div {
min-width: 30%;
max-width: 30%;
padding: 12px;
align-items: center;
margin: 8px;
}

.workGrid {
display: grid;
grid-template-columns: max-content;
grid-template-rows: 264px 264px 264px;
grid-template-areas: "workItem1 workItem1 workItem1"
    "workItem2 workItem2 workItem2" "workItem3 workItem3 workItem3";
}

.workItem1 {
grid-area: workItem1;
padding: 8px;
}
.workItem1:hover {
background-image: 'content/PointerScreen.png';
}
.workItem1 h4{
padding-bottom: 30px;
}
.workItem1 p{
max-width: 170px;
}

.workItem2 {
grid-area: workItem2;
padding: 8px;
}
.workItem2:hover {
background-image: 'content/WatchifyScreen.png';
}
.workItem2 h4{
padding-bottom: 30px;
}
.workItem2 p{
max-width: 170px;
}

.workItem3 {
grid-area: workItem3;
padding: 8px;
}
.workItem3:hover {
background-image: 'content/image1.png';
}
.workItem3 h4{
padding-bottom: 30px;
}
.workItem3 p{
max-width: 170px;
}

@media only screen and (max-width: 600px) {
.flexContainer {
    flex-direction: column;
}
.flexContainer div {
    width: 100%;
}
.workGrid {
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "workItem1"
    "workItem2"
    "workItem3";
}
}

#item1Pic {
width: 550px;
height: 270px;
position: relative;
left: 30%;
top: -150px;
display: none;
}

#item2Pic {
    width: 550px;
    height: 270px;
    position: relative;
    left: 30%;
    top: -150px;
    display: none;
}

#item3Pic {
width: 30%;
    position: relative;
    left: 34%;
    top: -150px;
    display: none;
    }